
{% extends '/web/base.html' %}

{% block css %}
    <link rel="shortcut icon" href="/static/web/images/Logo_40.png" type="image/x-icon">
    <link href="/static/web/plug/layui/css/layui.css" rel="stylesheet" />
    <link href="/static/web/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/web/css/global.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- QQ互联登陆 -->
            <a href="javascript:;" class="blog-user">
                <i class="fa fa-qq"></i>
            </a>
            <a href="javascript:;" class="blog-user layui-hide">
                <img src="/static/web/images/cover/qq.png" alt="Absolutely" title="烽火" />
            </a>
            <!-- 烽火 -->
            <a class="blog-logo" href="/web/home/">烽火</a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item layui-this">
                    <a href="{{ url_for('web.home') }}"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{{ url_for('web.article') }}"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{{ url_for('web.resource') }}"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{{ url_for('web.timeline') }}"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
                </li>
                <li class="layui-nav-item">
                    <a href="{{ url_for('web.about') }}"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
                </li>
            </ul>
            <!-- 手机和平板的导航开关 -->
            <a class="blog-navicon" href="javascript:;">
                <i class="fa fa-navicon"></i>
            </a>
        </div>
    </nav>
<!--侧边导航-->
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
        <li class="layui-nav-item">
            <a href="{{ url_for('web.home') }}"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
        </li>
        <li class="layui-nav-item layui-this">
            <a href="{{ url_for('web.article') }}"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
        </li>
        <li class="layui-nav-item">
            <a href="{{ url_for('web.resource') }}"><i class="fa fa-tags fa-fw"></i>&nbsp;资源分享</a>
        </li>
        <li class="layui-nav-item">
            <a href="{{ url_for('web.timeline') }}"><i class="fa fa-road fa-fw"></i>&nbsp;点点滴滴</a>
        </li>
        <li class="layui-nav-item">
            <a href="{{ url_for('web.about') }}"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
        </li>
    </ul>
    <script src="/static/web/plug/layui/layui.js"></script>
    <script src="/static/web/js/global.js"></script>
{% endblock %}