
{% extends '/back/base_main.html' %}

{% block title %}
    文章添加
{% endblock %}

{% block js %}
    {{ super() }}

    
    <script type="text/javascript" src="/static/lib/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="/static/lib/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
    </script>
{% endblock %}


{% block content %}
    <section class="rt_wrap mCustomScrollbar">

        <div class="rt_content">
            <div class="page_title">
                <h2 class="fl">文章详情</h2>
                <a class="fr top_rt_btn" href="{{ url_for('back.article_list') }}">返回文章列表</a>
            </div>
            <form action="" method="post">
                <p style="color:red;">{{ error }}</p>
                <input type='hidden' name='csrfmiddlewaretoken' value='q3tTrBuDcMhfvSS9x2u0yQAyRbboSQuyMyt42kgwgKS0rKxCv31hIWTsS3ULhZn7' />
                <section>
                    <ul class="ulColumn2">
                        <li>
                            <span class="item_name" style="width:120px;">文章标题：</span>
                            <input type="text" name="name" value="{{ a_edit.title }}" class="textbox textbox_295" placeholder="商品名称..."/>

                        </li>
                        <li>
                            <span class="item_name" style="width:120px;">文章描述：</span>
                            <input type="text" name="desc" value="{{ a_edit.desc }}"  class="textbox" placeholder="商品货号..."/>

                        </li>
                        <li>
                            <span class="item_name" style="width:120px;">分类：</span>
                            <select class="select" name="category">
                                    {% for type in types %}
                                    <option value="{{type.id}}">{{ type.t_name }}</option>
                                    {% endfor %}
                            </select>

                        </li>
                        <li>
                            <span class="item_name" >文章详情：</span>
                            <textarea id="editor_id" name="content" style="width:700px;height:300px;">
                            {{ a_edit.content }}
                        </textarea>
                            <!--<textarea name="content"></textarea>-->
                        </li>
                        <li>
                            <span class="item_name" style="width:120px;"></span>
                            <input type="submit" class="link_btn"/>
                        </li>
                    </ul>
                </section>
            </form>
        </div>
    </section>
{% endblock %}